<div class="style-footer">
  <div class="col-md-4">
    <h6>Thank You Following A Webiste</h6>
    <p>© 2016 H3. - All rights reserved.</p>
  </div>
  <div class="col-md-4 center">
    <h4>Follow us on</h4>
    <a target="_blank" href="https://www.facebook.com/hoang.hohuy.969">
      <img src="../images/shop/facebook.png" alt="">
    </a>
    
    <a target="_blank" href="https://plus.google.com/u/0/103171018582005501238/">
      <img src="../images/shop/gmail.png" alt="">
    </a>
    <a target="_blank" href="https://github.com/at-hoanghh">
      <img src="../images/shop/github.png" alt="">
    </a>
    <a target="_blank" href="">
      <img src="../images/shop/phone.png" alt="">
    </a>
    <a target="_blank" href="https://www.youtube.com/channel/UCT39mhFu0iB4oQB-yDuHkiA">
      <img src="../images/shop/youtube.png" alt="">
    </a>   
  </div>
  <div class="col-md-4">
    <p></p>
  </div>
</div>