<div class="dark-style">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav col-md-8 offset-md-3">
          <li class="">
            <a href="#/aboutMe" style="margin-left: 30px">About Me</a>
          </li>
          <li class="">
            <a href="#/style">Style List</a>
          </li>
          <li class="">
            <a href="#/shop">Shop</a>
          </li>
          <li class="">
            <a href="#/shoppingBag">Shopping Bag</a>
          </li>
          <li>
            <a href="#/sign_up">Register</a>
          </li>
        </ul>
        <ul class="box-right nav navbar-nav col-md-1" data-translate style="margin-right: 60px">
          <li ng-show="current_user" class="dropdown"  data-translate style="margin-top: 12px; color: white; background-color: white">
            <button data-toggle="dropdown" type="button" class="dropdown-toggle">User</button>
            <!-- <a href="">Sign out</a> -->
            <ul class="dropdown-menu">
              <li ng-controller="CustomerController"><a ng-click="showBill()" href="#/purchaseHistory">Purchase History</a></li>
              <li ng-controller="SignOutController"><a ng-click="sign_out()" href="">Sign out</a></li>
            </ul>
          </li>
          <li class="" ng-hide="current_user">
            <a href="#/sign_in">
              Sign In
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="center background-style">
    <div class=" style-title">
      <span>Online Website Shop</span>
      <h1>H3 STYLER</h1>
    </div>
</div>
