<div class="login-box" ng-controller="PasswordResetController">
  <div class="login-logo">
    <a href=""><b>User</b>DONALD</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Forgot password</p>
    <form ng-submit="sent_mail()" ng-hide='flag'>
      <div class="form-group has-feedback" >
        <input type="email" class="form-control" ng-model="password_reset.email"  
        placeholder="Email" required />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input type="submit" class="btn btn-primary btn-block btn-flat">
        </div>
      </div>     
    </form>
    <ul>
        <li class="error">
          <p>{{data.info}}</p>
        </li>
    </ul>
    <a href="#/sign_up">Register a new account</a>
  </div>
  <!-- /.login-box-body -->
</div>